requires = ["tox>=4", "tox-uv"]
env_list = [
    "py314",
    "py313",
    "py312",
    "py311",
    "py310",
    "py314-sqlalchemy14",
    "py313-sqlalchemy14",
    "py312-sqlalchemy14",
    "py311-sqlalchemy14",
    "py310-sqlalchemy14",
]

[env_run_base]
# Base env for all tests with sqlalchemy>=2.0
description = "Run unit tests with Python {basepython} and sqlalchemy>=2.0"
wheel_build_env = "{package_env}"
runner = "uv-venv-runner"
extras = ["test"]
allowlist_externals = ["make"]
passenv = ["DB_TEST_USER", "DB_TEST_PASSWORD", "DB_TEST_PORT", "DB_TEST_HOST"]
commands = [
    ["make", "test", "ARGS={posargs:--no-cov -n auto}"],
]

[env.sqlalchemy14]
# Base env for all tests with sqlalchemy>=1.4,<2.0
# -------------------------------------
# deps is the aggregation of:
# - test optional dependencies from pyproject.toml
# - dependencies from pyproject.toml
# With one difference: sqlalchemy is pinned to 1.4+
# -------------------------------------
description = "Run unit tests with Python {basepython} and sqlalchemy V1.4"
skip_install = true
deps = [
    "sqlalchemy~=1.4",
    "sqlalchemy-utils>=0.40.0,!=0.42.0",
    "pytest~=9.0.1",
    "pytest-cov~=7.0.0",
    "psycopg2-binary",
]
allowlist_externals = ["make"]
set_env = { PYTHONPATH = "{toxinidir}/src" }
passenv = ["DB_TEST_USER", "DB_TEST_PASSWORD", "DB_TEST_PORT", "DB_TEST_HOST"]
commands = [
    ["make", "test-sqlalchemy14", "ARGS={posargs:-vv --no-cov}"],
]

[env.py310-sqlalchemy14]
description = "Run unit tests with Python 3.10 and sqlalchemy V1.4"
base = ["env.sqlalchemy14"]

[env.py311-sqlalchemy14]
description = "Run unit tests with Python 3.11 and sqlalchemy V1.4"
base = ["env.sqlalchemy14"]

[env.py312-sqlalchemy14]
description = "Run unit tests with Python 3.12 and sqlalchemy V1.4"
base = ["env.sqlalchemy14"]

[env.py313-sqlalchemy14]
description = "Run unit tests with Python 3.13 and sqlalchemy V1.4"
base = ["env.sqlalchemy14"]

[env.py314-sqlalchemy14]
description = "Run unit tests with Python 3.14 and sqlalchemy V1.4"
base = ["env.sqlalchemy14"]
